/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


/* menu lateral */


.nav-bar{
   
    margin-left: 520px;
    margin-top: 210px;

}


.nav a{
 
    margin-left: -470px;
    display:flexbox;
  
    width: 110px;
   
  

}











/* SECCION GALERIA */
.contenedor { 

   
   

}
.main{
    background: linear-gradient(#d6d2c4, #FEFEFE);

}

.grupo galeria {
    width: 100%;
 top: 0px;
 
   }

.galeria {
    background: linear-gradient(#92ace0, #FEFEFE);
    top: 0px;
     
   }
   .galeria .titulo-grupo {
   
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
   }
   .img-galeria {
    background: linear-gradient(#92ace0, #FEFEFE);
    margin-top: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer; 
    transition: all 0.5s;
   }
   .img-galeria:hover {
    transform: scale(1.02);
   }
   .img-galeria-grande {
    width: 300px;
    height: 350px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    transition: 400ms;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
   }
   .img-galeria-chica {
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    transition: 400ms;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
   }
   
   
   
   
   


.modal {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}
.contenido-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.img-modal {
    width: 90%;
}
.modal-btn {
    position: absolute;
    top: 70px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #92ace0;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
}
.modal-open {
    display: block;
}
.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}
  
  

   






























/* SECCION RESPONSIVE */
@media screen and (min-width: 480px){
   
    .contenedor { 
        margin-top: -10em;
        display: block;
        text-align: center;
        padding-top: 2em;
       
    
    }
   
   
    .img-modal {
        width: 50%;
        }
        
        .galeria .titulo-grupo {
        font-size: 40px;
        }

    .banner { margin-top: -145px;
        z-index: 1000;
    }
    .img-banner {
        height: 700px;
    }
    .contenido-banner {
        font-size: 32px;
        top: 55%;
    }
    
    
    
     .img-modal {
        width: 50%;
    }
        
        .galeria .titulo-grupo {
        font-size: 40px;
    }

    .nav a{
 
        margin-left: -700px;
        display:flexbox;
      
        width: 110px;
       
      
    
    }
}
@media screen and (max-width:800px){
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
@media screen and (min-width: 1224px){
    /*responsive banner*/
    .contenedor { 
        margin-top: -10em;
        display: flex;
        text-align: center;
        padding-top: 2em;
       
    
    }
  
    .nav a{
        text-align: center;
      
        margin-left: -470px;
        display:flexbox;
      
       
       
      
    
    }
  
  
  
  
          
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

}
 
 
 
   
   
   
   
   

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
}